[2016-11-23 20:17] jstrube opened #3 "geoDisplay crashes X server"
Reported here:
https://github.com/AIDASoft/DD4hep/issues/21
Running `geoDisplay` after `source /cvmfs/ilc.desy.de/sw/x86_64_gcc48_sl6/v01-17-10/init_ilcsoft.sh` crashes the X server. The fix is to run (thanks @petricm ) `find graf3d/eve/src/TEve*GL.cxx -type f -exec sed -i 's/\/\/\ fDLCache\ /fDLCache\ /g' {} \;` in ROOT and rebuild. (Or chose sane delimiters for `sed`).
Apparently, this works in

[2016-11-23 20:50] petricm commented on #3
This is not a single error it's more complicated. It depends on the

- OpenGL drivers on the server side (there are some issues with e.g. intel support on lxplus, ...)
- version of your X (e.g. on Mac XQuartz if very buggy, and as far as I know only 2.7.8 works)
- what actually you want to achieve e.g. running geoDisplay vs teveDispaly causes different problems
- your connection speed, some issues

[2016-11-23 22:14] jstrube commented on #3
Thanks for putting this into context.
Let's take a step back for a second. What I am looking for is a program that I can install on my local machine. When somebody hands me a geometry file, I would like to be able to visualize this file.
How would I achieve this?

[2017-03-26 19:31] JeremyMcCormick opened #7 "Example config broken after move to github"
I can't build my config that used to work fine several weeks ago...

[code]

Can you please provide me some guidance on how to fix this?

The DESY SVN URLs that used to function no longer work at all, and I can't build my software because of this.

Thanks.

[2017-03-27 05:33] gaede commented on #7
We have moved most of the iLCSoft packages to GitHub. Simply change:
[code]
to
[code]
For the packages that are still in svn, you will have to set the download.root and donwload.type explicitly in the confige file, e.g.:
https://github.com/iLCSoft/iLCInstall/blob/master/releases/HEAD/release-ilcsoft.cfg#L167

[2017-03-27 11:09] petricm commented on #7
Hi,
In addition to the comment of @gaede the URL you want to checkout is wrong
[code]
instead of this
[code]

[2017-03-27 18:46] JeremyMcCormick commented on #7
Thanks for the advice.  I was able to get my build working again.

The ILCUTIL package config needed to be changed to this:

[code]

I will go ahead and make a fork for merging in the minor config changes.

Another question: Can I set the installation base directory without altering the `versions.py` file?

I saw something about setting `ilcsoft_install_prefix` externally but wasn't sure exactly h

[2017-03-27 19:03] JeremyMcCormick commented on #7
Additional question:

Is this URL going to be left permanently?

[code]

If not I guess I would need to switch over to using the github version.

[2017-03-27 19:32] petricm commented on #7
The installation base is set when you do this:
[code]
in the cfg file. The `versions.py` is executed a few lines before that.

We are not planning to remove the tags from DESY SVN, however we would still recommend the usage of GitHub.

[2017-03-28 07:15] gaede commented on #7
You can keep using the _old_ versions from SVN - however all new versions will be only available from GitHub.

[2017-04-05 20:55] JeremyMcCormick commented on #7
Resolved by PR #11.

[2017-04-05 20:55] #7 closed

[2017-04-06 13:50] freidt opened #12 "Wrong $PATH in init_ilcsoft.sh if $<SOFT>_HOME=/usr"
Hi,

I found an issue with the way init_ilcsoft.sh is assembled. This happens in ilcsoft.py in the function `makeInstall` (see [https://github.com/iLCSoft/iLCInstall/blob/master/ilcsoft/ilcsoft.py#L409](url) ).

For software which is found on the system the corresponding `$<SOFT>_HOME` is = `/usr`. In such a case, a `/usr/bin` is then prepended to `$PATH`. This shadows then custom packages which a

[2017-04-07 00:00] JeremyMcCormick opened #14 "Cannot use alternate compiler"
I'm having trouble getting ilcinstall to pickup an alternate compiler configuration.

CMake does not seem to recognize that `CXX` and `CC` are set in the environment to valid C and C++ compilers.

Here is the error log:

[code]

The `CC` var is set in my environment to a valid compiler, however.

[code]

It seems that this environment is not being passed along properly to the internal CMake build.

[2017-04-07 07:10] andresailer commented on #14
Do you set the compiler in the install.cfg file like this
https://github.com/iLCSoft/iLCInstall/blob/master/builds/release-ilcsoft.cfg#L20
?

[2017-04-12 09:09] gaede opened #18 "problem with tagging software version"
When I try to tag a new LCIO version, I get the following error:
[code]
Is this a bug or am I missing something ?

[2017-04-12 10:01] andresailer commented on #18
It is a bug, solved by #19

[2017-04-12 13:47] petricm commented on #18
There is still something strange. If you look at the release of (lcgeo0[https://github.com/iLCSoft/lcgeo/releases/tag/v00-11] you see 2017-03-31 luisaleperez (PR#73) and the comment just "and" which is not what is in release notes tag

[2017-04-12 14:18] andresailer commented on #18
It is your comment https://github.com/ilcsoft/lcgeo/pull/73#issuecomment-290659540

[2017-04-12 15:46] #18 closed

[2017-04-12 20:10] gaede opened #21 "Major problem with tagging script"
@andresailer I have made pre-releases with the tagging script for all packages shown in:
https://github.com/iLCSoft/iLCInstall/blob/master/releases/v01-19/tagging_v01-19.py
However it turns out the the script has actually made all tags *without* the -pre appended.
The releases are however named correctly. See for example here:
https://github.com/AIDASoft/DD4hep/releases
Of course ilcinstall is loo

[2017-04-13 08:13] andresailer commented on #21
I've changed the associated tag for the recent releases to the tag with the same name as the release name. I.e. creating new tags and deleting the non-pre tags.
I'll fix the bug in the script now.

[2017-04-13 08:21] andresailer commented on #21
Where there problems with the creation of the release notes? I saw you edited some of them manually.

[2017-04-13 08:35] petricm commented on #21
What about that the notes sometimes appear in the `https://github.com/iLCSoft/package/releases` and sometimes they don't?

[2017-04-13 08:46] andresailer commented on #21
Release notes are only taken from PRs since the last tag/release (including pre-releases), so if there is a pre-release tag there are no more release notes.
One could maybe parse the ReleaseNotes file to get all the release notes since the last full release and fill that into the release notes of the release.

[2017-04-13 08:51] gaede commented on #21
@andresailer thanks a lot for fixing the tags !
I had some problems with the release notes, but mostly because I had tried to manually add some release notes for the time before the PR script was activated and then had issues with the interplay of the script and my manual edits. I guess this is the expected 'learning curve' for this new way of automatically tagging. One issue I have observed in th

[2017-04-13 09:22] andresailer commented on #21
1) I'll see what can be done. The problem is the association of tags and branches cannot be accessed via the github api, so one cannot find out if a tag is on a branch.
2) Can you give an example log output, or which package this happened with? That sounds very strange

[2017-04-13 09:28] gaede commented on #21
1. Ok, I see. We could probably live with this as is, but that implies that no manual tags are allowed on a package , unless one creates a pre-release tag with the script first, to get the release notes...
2. Sorry just miss-interpreted the log file - there indeed was an error at the end that had caused some packages not to be versioned ( just had seen the output of the package itself that had no

[2017-04-19 08:32] andresailer commented on #21
1. I think I can add an option to specify the last tag to use to find PRs instead of automatically finding the last tag. This can be used to ignore manually created tags.

[2017-04-19 10:46] gaede commented on #21
@andresailer I think that would be a good idea - not that we will use it in general, as this should be done with the normal workflow of simply gathering the PRs from the last tag - but there will probably always be cases where one needs to do things manually.

[2017-04-19 12:19] gaede commented on #21
@andresailer Please Help !
Something must have gone wrong with deleting the tags 6 days ago. I just run the script to make the final release tags for v01-19-02 and it turns out that some of the release tags are (much) older than the latest pre-release tags, e.g.:
- lcgeo v00-11 is 7 days old, v00-11-pre3 is a few hours old.
- DD4hep v00-21-pre is newer than v00-21  ( however same code, so no big i

[2017-04-19 13:45] gaede commented on #21
@andresailer I convinced myself that actually only lcgeo was a real problem - all the other packages seem to also have been tagged 6 days ago with the proper release tag when making the pre-releases, but no updates since then.
I have manually deleted the lcgeo tag v00-11 and re-created it with the current HEAD ( identicall to v00-11-pre3, except a fix to the release notes).
So we should be good to

[2017-04-19 14:21] andresailer commented on #21
This should already be the case. If nothing changed since the last tag nothing will be done by the script, unless the last tag was a pre-release tag and the new tag is the release tag.

[2017-04-19 17:49] gaede commented on #21
I think I understand now, what had happened with the tags:  Github dates the releases to the last commit that was used for the tag - and not the date the tag was actually made. I had just made a manual tag for ILDConfig v01-19-02 and GitHub claims : " v01-19-02 gaede released this 12 days ago " . This is very confusing...

[2017-04-20 11:23] #14 closed

[2017-04-27 12:13] andresailer commented on #21
I think all known issues are addressed in #25

[2017-04-27 13:41] gaede commented on #21
Excellent, thanks. Let's see how it works when we make the next release soon...

[2017-04-27 13:41] #21 closed

[2017-05-29 13:28] petricm commented on #12
Resolved

[2017-05-29 13:28] #12 closed

[2017-05-29 16:06] petricm commented on #3
Once [this](https://github.com/osschar/root/commit/2da70f676cfce6eb396e8916d0c3c871a51e8e8c) reaches root this should be resolved, but in the meantime I cannot give you any better solution. You can tryout this commit and add to your rootrc `OpenGL.UseDisplayLists: 0`. But as a reference Belle II/basf2 also patches it's root to disable fDLCache in the externals.

[2017-05-29 16:06] #3 closed

[2017-10-19 08:26] StrahinjaLukic opened #40 "Socket error connecting to github from ilcsoft-install"
I am trying to use ilcsoft-install to install the ilcsoft release v01-19-03-p1.
I am encountering the following error message. It does not seem to depend which package is being downloaded.

****************************** Downloading sources ******************************

********************************************************************************
*** Downloading sources for LCCD version v01-0

[2017-10-19 10:47] StrahinjaLukic commented on #40
In fact I am getting the same error when I try to connect using urllib.urlopen() to anywhere with https: protocol. I will now close this as it doesn't seem to be an issue of iLCinstall. But if anyone has a hint what could be the reason for such connection problems, many thanks in advance.

[2017-10-19 11:02] andresailer commented on #40
Since version 2.7.12 python forces certificate verification for https requests.
Either install the certification authority certificates or try
[code]
before running ilcinstall

[2017-10-19 11:25] StrahinjaLukic commented on #40
I replaced urllib by urllib2 in baseilc.py (in the import directive and the affected command in line 751), and it is happily downloading now.

Doing web search I found a few discussions to the point that urllib2 handles ssl better than urllib, offering more sophisticated options etc. But in my case, the only necessary change was to simply use urllib2 in place of urllib. Maybe iLCinstall could be u

[2017-11-30 15:14] rete commented on #40
@gaede Is it fixed now ? Should we close this issue ?

[2017-11-30 15:16] gaede commented on #40
No, nothing done so far - can you try and fix this ?

[2017-12-01 09:51] rete commented on #40
@StrahinjaLukic @andresailer After a look on documentation I found :
- When using urllib
  - python version > 2.7.9, urllib **does not** attempt to validate the server certificate of HTTPS URLs (https://docs.python.org/2/library/urllib.html)
- When using urllib2
  - python version > 2.7.9 : the function [urlopen()](https://docs.python.org/2/library/urllib2.html) can use a 'context' argument, in wh

[2017-12-08 11:41] StrahinjaLukic commented on #40
Sorry for my slow response.

In the urllib documentation that you link, I read, "Changed in version 2.7.9: For HTTPS URIs, urllib performs all the neccessary certificate and hostname checks by default.", and "For Python versions **earlier** than 2.7.9, urllib does not attempt..."

To summarize all of the above posts:
1. urllib checks certificates by default, but the checks fail in some circumstanc

[2018-02-13 09:14] #40 closed

[2018-03-16 07:56] andresailer opened #48 "tagging script fails for DD4hep because there are too many release notes"
[code]

[2018-03-22 09:32] #48 closed

[2018-09-20 21:53] rete opened #58 "Xerces C sources location"
The address at which we download the Xerces C package as part of the base packages in ILCInstall is changing all the time. The url `http://www.apache.org/dist/xerces/c/3/sources/` contains only the latest version of the Xerces C library. The latest version, when this ticket was open was 3.2.2 and the current version in ILCInstall is 3.1.4.
This causes many problems:
- ILCInstall can't be installed

[2018-09-21 06:42] andresailer commented on #58
https://github.com/apache/xerces-c/releases

[2018-11-01 09:46] #58 closed

[2019-11-21 12:30] rete opened #76 "Wrong CMake config files location"
In the generated file ILCSoft.cmake, some packages have there CMake config files installed not in the install prefix but somewhere else.
For example, for ROOT, $ROOTSYS/cmake would be the correct path.

[2019-11-28 13:34] #76 closed

[2019-12-04 13:13] petricm opened #80 "CMake config setup bug"
When @gaede fixed the cmakeconfig path here https://github.com/iLCSoft/iLCInstall/commit/e69a7d154ef2392ddc94b5e7b395174858698ab5#diff-43c7f15e4148cc1085c2974bcaf23412R90
[code]
a semicolon was introduced, but cmakeconfig is used in ilcsoft.py to set two things: 1. the bash script and 2. the cmake env https://github.com/iLCSoft/iLCInstall/blob/bacc1a298b427070d8f2a7923d5b295e26113d41/ilcsoft/ilcso

[2019-12-04 13:56] rete commented on #80
Thanks @petricm  for the issue. Indeed this is wrong for the shell script.

We couldn't really sort out how to know whether Geant4 will install libraries in `lib` or `lib64`. The cmakeconfig is used before installing anything, so I can't grep for `lib` or `lib64` in the Geant4 installation directory.

Do you know how we can guess that ?

[2019-12-04 14:16] rete commented on #80
Digged a bit and found that they are using `GNUInstallDirs` in CMake:

https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html

This can be `lib` or `lib64` or even worse a path with some architecture...
So we need to guess it after it has been installed which goes against how build flow, the ILCSoft.cmake and ILCSoft.cmake.env.sh files being generated before running anything

[2019-12-04 14:16] petricm commented on #80
Why don't you just do
[code]

[2019-12-04 14:17] rete commented on #80
On my ubuntu I have `lib` not `lib64`

[2019-12-04 14:18] rete commented on #80
To complete my comment on GNUInstallDirs, here is the logic:

https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/GNUInstallDirs.cmake#L204

[2019-12-04 14:22] petricm commented on #80
I think geant4 relies on `CMAKE_SIZEOF_VOID_P` to decide

https://github.com/Geant4/geant4/blob/6aa23be5171b125c3363b5a4cfa00a57e524598b/environments/g4py/cmake/Modules/SetInstallPath.cmake

[2019-12-04 14:26] rete commented on #80
Your link is in `environment/g4py/cmake/`. This one is in `cmake/`:

https://github.com/Geant4/geant4/blob/6aa23be5171b125c3363b5a4cfa00a57e524598b/cmake/Modules/G4CMakeSettings.cmake#L124

[2019-12-04 14:30] petricm commented on #80
Then for the moment I suggest to do a replace of `;->:` in ilcsoft.py and leave geant4.py as is

[2019-12-04 14:33] rete commented on #80
My first suggestion to Frank when we introduced this "fix" was to turn the geant4 `cmakeconfig` to a list and check in ilcsoft.py if we have a list and make a join

[2019-12-04 14:41] petricm commented on #80
Fine with me, but please asap, as the nightly is broken because of this.

[2019-12-04 14:48] andresailer commented on #80
What about
[code]
?

[2019-12-04 14:52] gaede commented on #80
+1

[2019-12-04 15:08] petricm commented on #80
this is exactly what i meant with `;->:`

[2019-12-04 15:22] rete commented on #80
+1 too

[2019-12-04 15:23] rete commented on #80
I'll take care of it now

[2019-12-04 15:50] petricm commented on #80
This did not solve the problem, Geant4 is still not found in the DD4hep compilation

https://gitlab.cern.ch/CLICdp/SoftwareConfigurations/iLCSoft/-/jobs/6428871

[2019-12-04 15:56] rete commented on #80
Your job is loading the CMake cache from here:

/cvmfs/clicdp.cern.ch/iLCSoft/builds/nightly/x86_64-slc6-gcc62-opt/ILCSoft.cmake

which contents is:

[code]

It looks like it was not updated in the mean time

[2019-12-04 16:00] petricm commented on #80
No it's not. `/cvmfs/clicdp.cern.ch/iLCSoft/builds/nightly/x86_64-slc6-gcc62-opt` is the install directory and this is not mounted in the container.

[2019-12-04 16:02] rete commented on #80
It says exactly:

[code]

[2019-12-04 16:07] petricm commented on #80
The container in which this runs, has only the following folders mounted
 - /cvmfs/clicdp.cern.ch/compilers
 - /cvmfs/clicdp.cern.ch/software
is **does not mount** `/cvmfs/clicdp.cern.ch/iLCSoft/` because otherwise I could not install in it. So what ilcinstall sees it's an empty directory.

What you have posted above is the output of the last successful build.

[2019-12-04 16:14] petricm commented on #80
The build worked until the merge of #78

[2019-12-04 16:15] rete commented on #80
Can you post the full log somewhere ? It looks like the output is screwed up on your link.

[2019-12-04 16:25] petricm commented on #80
Sadly this is the output you get when doing this
[code]

but you can reproduce the thing by
[code]

[2019-12-04 16:27] osdesy opened #82 "Assembler errors with afs-version of ilcsoft for C++17"
Hi,

I was using this installation of ilcsoft to compile MarlinTPC with C++17:
/afs/desy.de/project/ilcsoft/sw/x86_64_gcc82_sl6/HEAD-2019-11-26

On naf-ilc-el7, I sourced the init_ilcsoft.sh of that version and tried to build the MarlinTPC trunk in the usual way:
[code]
This usually results in immediate **assembler errors** of gcc.

Before, I had tried a custom version of an init script by @rete ,

[2019-12-04 16:33] rete commented on #82
Hi Oliver,
can you post an error message or a start of error message if it is too long ?
Also, as you describe first, you are trying to run ilcsoft installed on sl6  and compiling code on el7.
Can you try to re-run this with a coherent OS setup ?

[2019-12-04 16:45] rete commented on #80
I got this in my ILCSoft.cmake file:

[code]

The issue is the Geant4 version here, wrongly set to `86.64.6` in the cmake config path.

[2019-12-04 16:47] osdesy commented on #82
If I try on SL6 it indeed gets stuck in cmake:
(Notice: trunkel7 is not tied in any way to el7, just a normal working copy of MarlinTPC trunk with activated C++17)

[code]

[2019-12-04 16:54] rete commented on #82
I tried with ILDPerformance just for a cross check and I have indeed the same error.
I'll investigate.

[2019-12-04 17:00] rete commented on #82
The problem disappears if I source the setup.sh file in the compiler path. In this case:
`/cvmfs/sft.cern.ch/lcg/releases/gcc/8.2.0-3fa06/x86_64-slc6/setup.sh`.
As you mentioned before there is a bit more happening in the setup.sh file than just exporting PATH and LD_LIBRARY_PATH

[2019-12-04 17:05] osdesy commented on #82
Here again for el7 with compatible init file:
[code]
CMake runs through, but make results in assembler errors:

[code]

[2019-12-04 17:08] rete commented on #82
Can you try by sourcing the setup.sh file where the compiler is ?

[2019-12-04 17:12] rete commented on #80
The `use()` constructs in baseilc.py tries to guess the version from the basename of the install path:

See : https://github.com/iLCSoft/iLCInstall/blob/master/ilcsoft/baseilc.py#L246

Which is true for all installations we make except the nightly builds.
We could check whether we are running a nightly and try to build the version out of the path provided in the `use()` construct.

Does that seem

[2019-12-04 17:18] osdesy commented on #82
With this change:
[code]
it compiles normally - until real C++ errors. Note, that I remove the compiler entries from PATH and LD_LIBRARY_PATH, as they would be probably doubled by setup.sh

[2019-12-04 17:19] rete commented on #82
OK, thanks then we need to automatically source this `setup.sh` file in `init_ilcsoft.sh`. I'll work on a fix.

[2019-12-04 17:27] petricm commented on #80
So you say, that you can only use ilcinstall with `use()` for a particular folder structure, and this is an implicit source code condition? I don't think this is a good idea.

I don't see that the nightly case is any different from using this `/cvmfs/ilc.desy.de/sw/x86_64_gcc49_sl6/geant4/10.02.p02/`

[2019-12-04 17:35] rete commented on #80
Nightly case: `/cvmfs/clicdp.cern.ch/software/Geant4/10.02.p02/x86_64-slc6-gcc62-opt`
The path you provided: `/cvmfs/ilc.desy.de/sw/x86_64_gcc49_sl6/geant4/10.02.p02/`

The code run in the case of `use()` looks for the version in the base name of this path. For the nightly build, it is extracting `x86_64-slc6-gcc62-opt`, giving a version of `86.64.6`.
This is why I'm suggesting this solution. Not

[2019-12-04 17:46] osdesy commented on #82
Yes, but as I said, that script sources other scripts recursively, so there might be more things going on that could have side effects, e.g. if people use the setup to build other components of ilcsoft.

[2019-12-04 17:49] rete commented on #82
To compile iLCSoft itself, we source this file in any case. So it would be the right thing to do in init_ilcsoft.sh in any case.

[2019-12-04 18:03] gaede commented on #80
To add my two cents:  we should not rely on any assumption about the path - at least not without a well defined way of overwriting it.
What I do not understand the corresponding code in baseilc.py has not been touched and was like that for many years. @petric have you changed sth. in your nightly configuration ?
Can we not easily take the version number provided in the config files ?

[2019-12-04 18:21] petricm commented on #80
completely agree

No there was no change. The nightly failure started after the merge of #78

This is a better solution then relying on the path.

[2019-12-04 18:30] rete commented on #80
Yes because the version was not use in the case the package is `use()`d. Now for geant4 we want to use this version string to point to the correct cmake config file. This is why it is breaking now.

So we need a solution to pass both the path and the version to the package on creation. Note that cases like:
- path = `/cvmfs/clicdp.cern.ch/software/Geant4/10.02.p02/x86_64-slc6-gcc62-opt`
- version

[2019-12-05 07:42] osdesy opened #83 "CMake problems resolving GSL library paths on el7"
Hi,

another thing that I noticed during attempts to fix warnings in MarlinTPC:
On naf-ilc-el7 it does not seem to find the cvmfs path to GSL during CMake.
This results in a locally installed version being linked to MarlinTPC and the cvms version being already linked in the pre-installed dependencies. Corresponding linker warnings are issued when executables of MarlinTPC (tests, stand-alone stuff)

[2019-12-06 15:53] petricm commented on #80
Now the compilation passes DD4hep but it fails at KalTest, because some ROOT macros are missing
[code]

https://gitlab.cern.ch/CLICdp/SoftwareConfigurations/iLCSoft/-/jobs/6457069

[2019-12-06 16:04] gaede commented on #80
Please try to include this in your version (sourcing of the build_env.sh) :
https://github.com/iLCSoft/iLCInstall/pull/79/commits/54e1efc6b80500c7b4fb00ededc0c225ed3dd2e6

[2019-12-06 17:02] rete commented on #83
Hi Oliver,

from your list:

- x86_64_gcc49_sl6/v02-00-02 + SL6 works: perfect !
- x86_64_gcc49_sl6/v02-00-02 + EL7 not working: expected to work, maybe, but you should not do it anyway. This is why we have two separate installation coming for el7 and sl6
- x86_64_gcc48_cc7/v01-17-07 + EL7 not working: We don't support this iLCSoft versions anymore, even more with this compiler version. Just don't

[2019-12-06 17:48] osdesy commented on #83
Well, even though it may not be supported now, I would assume number three was supposed to be working. After all it was put as a cvmfs installation for general use? If it does not work, one should at least understand why. Maybe it is not very relevant, now, as most of the right combinations are working. However, if this effect goes unnoticed in a production run later (only a linker warning!) it ma

[2019-12-06 18:07] rete commented on #83
To me it looks there were issues with v01-17-07 finding the correct version of GSL and it was fixed in newer versions of iLCSoft or MarlinTPC, so indeed it is not a problem anymore.

It also look like the way of finding GSL is going wrong in MarlinTPC and should be fixed in MarlinTPC itself to be compatible with older versions of iLCSoft. As a reminder, the GSL package lookup is performed by the F

[2019-12-06 18:18] rete commented on #80
@petricm Any success ?

[2019-12-06 19:55] petricm commented on #80
Sorry I don't understand this comment, the nightly always uses the last checkout of master, so this should be present.

[2019-12-09 09:38] petricm commented on #80
Now the problem is in KalDet, #86 is incomplete.
https://gitlab.cern.ch/CLICdp/SoftwareConfigurations/iLCSoft/-/jobs/6472471

[2019-12-09 21:02] petricm commented on #80
Not there is a problem in MarlinKinFit
[code]

https://gitlab.cern.ch/CLICdp/SoftwareConfigurations/iLCSoft/-/jobs/6487208

[2019-12-10 09:14] #82 closed

[2019-12-10 13:17] petricm commented on #80
@rete can you look at this please.

[2019-12-10 13:24] #80 closed

[2019-12-10 13:25] rete commented on #80
@petricm Can you re-trigger the nightly please ?

[2019-12-10 17:05] petricm opened #93 "Strange init_ilcinstall.sh"
After all the changes now the init script looks a bit different and maybe few things look a bit strange and need clenup

checkout `/cvmfs/clicdp.cern.ch/iLCSoft/builds/nightly/x86_64-slc6-gcc62-opt/init_ilcsoft.sh`

The ROOT section is gone
[code]

Eigen
[code]
DDKalTest
[code]

[code]

The `additional commands` should be only written when the section exists, and the ROOT section is missing.

[2019-12-11 09:18] rete commented on #93
Hi Marko,

- "ROOT is gone": ROOT doesn't export any variable anymore, because everything is populated by thisroot.sh. So there is not section anymore.
- "Additional commands": I agree this looks a bit messy. If there is no additional command it should not be printed out.

I'm currently tagging software versions for the next release (see #79 )
Can you provide a pull request for this issue ?

[2020-01-18 16:39] #83 closed

[2020-01-22 10:48] rete opened #95 "XercesC tags renamed"
The latest pre release tag `v02-01-pre` is not working. The base installation fails because Apache removed the tag we were using `Xercec-C_3_2_2` and renamed it to `v3.2.2`.

I could of course make the adjustment in our config to point to correct location, but we always had problems with this package so far. They were often removing tarball on the old ftp we were using creating issues. They are no

[2020-01-27 13:40] rete commented on #95
We agreed on meeting that we will change the version tag to `v3.2.2` for the time being and think about a better solution on the long term.
I'll close this issue via the fixing PR.

[2020-01-27 15:32] #95 closed

[2020-03-30 11:00] osdesy opened #103 "Problem finding Eigen3"
Hi,

while refactoring MarlinTPC, I discovered several warnings from Eigen3, installed in /usr/include/eigen3, in the compiler output! Setting aside the question, why I get them in compiling MarlinTPC,
I checked on the log of my cmake-run, which I put in attachment ([cmresmod.txt](https://github.com/iLCSoft/iLCInstall/files/4402219/cmresmod.txt)), and indeed it uses the correct GBL script to find

[2020-03-30 13:37] gaede commented on #103
@rete how can we fix this ?

[2020-03-30 14:16] rete commented on #103
The ILCSoft.cmake script in `/afs/desy.de/project/ilcsoft/sw/x86_64_gcc82_centos7/v02-01` sets the CMAKE_PREFIX_PATH to a location where Eigen3 can be found, namely:

     `/afs/desy.de/project/ilcsoft/sw/x86_64_gcc82_centos7/eigen/3.3.7/share/eigen3/cmake/`

You don't need to use the GBL FindEigen3.cmake macro for that.
Find your GBL package and then the Eigen3 package:

[code]
Can you have a try

[2020-03-30 15:00] osdesy commented on #103
Yes, thanks, I will try that. First attempt at least ran through with version 3.3.7 required. However, now I have to figure out how to print that as a message to the cmake output (Version, Path). The previous methods using the script obviously don't work anymore.

[2020-03-30 15:08] rete commented on #103
Eigen3 with this version uses CMake targets as the user interface. It means you have to do something like:

[code]

This sets up include directories, library linking if any (not in this case normally) and definitions such as specific compiler flags, etc... For getting target properties, I let you refer to the CMake documentation. The properties sets by Eigen3 in `/afs/desy.de/project/ilcsoft/sw/x8

[2020-03-30 15:53] osdesy commented on #103
OK, thanks for the pointer. With your suggestion it works and finds the correct version - at least in ilcsoft v02-01.
However, I will for the moment still use the deprecated EIGEN3_VERSION_STRING and similar variables, as Eigen3 doesn't seem to be used as a library in MarlinTPC (in contrast to the other dependencies). Only its include directories are used and I need to find out, whether this is hi

[2020-03-30 15:53] #103 closed

[2020-03-30 15:57] rete commented on #103
Even if Eigen3 has no compiled library, the CMake command:

[code]

still applies. This a bit weird construct in this case, but Eigen3::Eigen is an imported target, so this call will just takes care of doing everything you need under the hood, namely setting up include directories for the MarlinTPC target.

[2020-03-30 16:15] osdesy commented on #103
Yes, I understand, that also for such template libraries that would be the way to go. However, at the moment specifically only the include files get added and only if GBL is found. Otherwise the entire thing is left out. All other dependencies are simply added in the way you described, in a loop. Maybe that construct breaks, if simply adding Eigen3 to the list - there must have been a reason to do

[2020-05-27 03:54] flagarde opened #110 "Some distribution have lsb_release but not release number"
Hello,
In the script ilcsoft.py you are assuming the release version is always present but some distribution are rolling so don't have any release version number.

so the code below is crashing:
#fg: release_string might be empty, e.g. if lsb_release does not exis (MacOs)
 self.release_number = '-1'
 if len( release_string ) :
    self.release_number = release_string[re.search('\d', release_string

[2020-05-27 07:45] gaede commented on #110
The code you are referring should protect against release versions not beeing available. On which system do you observe the crash ?

[2020-05-27 08:16] flagarde commented on #110
On archlinux. If I understand well being a rolling distro they don't provide a release version when one uses "lsb_release -d 2" so the next part of the code cannot extract it then crash.

$ lsb_release -a
LSB Version:    1.4
Distributor ID: Arch
Description:    Arch Linux
Release:        rolling
Codename:       n/a

[2020-06-25 13:35] rete commented on #110
Hi @flagarde ,
did you find a fix in the meantime?
Can you make a pull request if you have an elegant solution to this problem?

[2020-07-01 11:07] flagarde commented on #110
hi,
I think I don't have an elegant solution for know. If I remember well I use my favorite key when dealing with python : #

[2020-09-08 14:02] EnginEren opened #121 "Docker image for 27 gb!"
I have tried to build a new docker image for our new tag namely _v02-02_ with our instructions in [docker/readme](https://github.com/iLCSoft/iLCInstall/tree/master/docker)

However, base image is huge. I remember for _v02-02-pre_ version @rete was deleting some build directories to decrease the image size, which is around 8-9 Gb. I'm wondering what has changed so that we have now almost factor of

[2020-09-08 14:35] gaede commented on #121
You can simply remove all the build directories with sth. like `cd v02-02 ;  find . -type d -name build -exec rm -rf {} \;` after the installation is finished ...

[2020-09-08 15:01] rete commented on #121
I think the latest script are not yet merged. They are somewhere on a branch on a local computer. The current version in the master does not delete the build directories. I'll have a look tomorrow

[2020-09-08 15:04] EnginEren commented on #121
thanks a lot for your immediate feedback. I guess I can try both options.

[2020-11-25 10:40] GarcaHec opened #128 "Undefined symbol _ZN17siscone_spherical11CSphsiscone12_banner_ostrE"
I am sorry if this is not the right repository to open the issue.

I installed the version v02.02 of ILCSoft with the install script only changing the path to install the software. First the external packages and then the ilcsoft release without any complaints from the compiler or the linker. However, when I run Marlin and it tries to load the default shared libraries I get the following error:

`

[2020-11-25 14:01] rete commented on #128
Hi @GarcaHec , thanks for reporting this issue.This is probably the correct place to open this issue indeed.
Can you provide more details about your setup? OS, compiler(s), etc...
Thank you

[2020-11-25 14:14] GarcaHec commented on #128
When I run the ilcsoft-install I get the following setup:

`GCC 7.5.0
/afs/desy.de/project/ilcsoft/sw/x86_64_gcc75_ub1804/
gcc75_64bit_ub1804
75
+ Running ilcsoft-install [ v01-17-07 ]
+ Read configuration file [ /home/hectorgc/iLCInstall/releases/v02-02/release-base.cfg ]
+ PLATFORM 	Linux - Ubuntu 18.04.5 LTS
+ GCC_VERSION 	gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
+ LSB_RELEASE 	Distributor ID:	U

[2020-12-03 16:51] vvolkl opened #129 "Unicode error using ilcsofttagger"
encountered while making v00-03 of edm4hep:
[code]
had to use the following patch to make it work:
[code]
I'm the culprit here actually, since I accidentally used a "Horizontal ellipsis" in https://github.com/key4hep/edm4hep/pull/97

@andresailer would be good to make this more robust - should I open a PR?

[2020-12-03 18:05] andresailer commented on #129
This would just drop whatever character it doesn't know potentially silently mangling the output?
I just removed the offending character from the release notes part of your PR.

[2021-01-05 11:16] #129 closed

[2021-02-23 16:41] tmadlener opened #132 "Update scripts to python3"
Some (most) of the scripts that automate parts of the release process are not python3 compatible. Parts could potentially be handled by `2to3` but I am afraid that still some more manual changes are necessary.

The question is: Do we need compatibility with both or can we drop python2 compatibility in the process?

[2021-02-26 12:20] tmadlener commented on #132
Re-using this to keep track of other smaller things that should be addressed in the process:
- [ ] Ignore all but the first appearance of `BEGINRELEASENOTES` `ENDRELEASENOTES` in a PR. Currently all appearances are used and appended to the release notes as separate entries.

[2021-03-03 18:14] tmadlener commented on #132
- [ ] the tagging script currently crashes when it doesn't find a `CMakeLists.txt` where it can update the version. Would be nice if this can be handled more gracefully.

[2021-03-03 20:02] andresailer commented on #132
a) ignore all but ... you mean just take the block from the opening post of the PR, and not the comments, right? this was initially intentional, but with admins ability to edit the opening post this isn't needed
b) missing cmakelists: What would you like to happen? Error message and exit, warning and continue, something else?

[2021-03-04 07:31] tmadlener commented on #132
Yes, exactly. Mainly, because it happened for the current release that it also picked up comments, that were just saying to put them into the opening post of the PR.

Also, this is mainly just a convenience thing, because it would then be possible to easily tag iLCInstall itself with the script. Currently that fails before the tag is made, because it can't find a CMakeLists.txt. Maybe leaving the

[2021-03-12 17:57] ueinhaus opened #142 "ILCSoft does not work anymore in zsh"
To make it short, using zsh gives an error when init_ilsoft.sh is sourced.
This is true since v02-01, while v02-00-02 was still working.
Presumably  this is due to ENV variables in DD4HEP (that changed from v01-07-02 to v01-11-02), which are in conflict with default ones in zsh.
This is not only forcing me right now to use bash for the moment, but it also came without warning or proper error messa

[2021-10-30 10:44] Zehvogel commented on #128
Dropping `libMarlinFastJet.so` from `MARLIN_DLL` works as expected and is good enough for me.

Quite a weird bug indeed. I am a bit puzzled on how this situation can even arise. Shouldn't there already occur a missing reference error or something similar at link time?

[2021-10-30 14:34] tmadlener commented on #128
Naively, I would also have expected that.

[2021-10-31 14:47] GarcaHec commented on #128
Indeed dropping FastJet form MARLIN_DLL works fine but in my case I need it for my analysis. I've been forced to work remotely in a centos7 machine.

________________________________
De: Thomas Madlener ***@***.***>
Enviado: sábado, 30 de octubre de 2021 16:34:16
Para: iLCSoft/iLCInstall
Cc: Garcia Cabrera, Hector; Mention
Asunto: Re: [iLCSoft/iLCInstall] Undefined symbol _ZN17siscone_spherical11C

[2021-11-01 14:57] tmadlener commented on #128
I have written a small utility that removes `MarlinFastJet` from `MARLIN_DLL`. It is automatically used when setting up the `x86_64_gcc75_ub1804/v02-02-02` release, but not for any of the others. To use it for another release, simply do:

[code]

I will try to have a look into this and see what is actually going on.

[2021-12-03 12:18] #128 closed

[2022-01-19 13:43] tmadlener commented on #132
I think after #143 all scripts should now be working with python3 as well.

[2022-01-19 13:43] #132 closed

[2022-02-15 09:15] tmadlener commented on #142
This is indeed a problem of DD4hep, that was introduced somewhere between v01-07-02 and v01-11-02 (of DD4hep). The problem is L58 here: https://github.com/AIDASoft/DD4hep/blob/2d88cf58bf4644b4cce292f24f746ced4d4881ba/cmake/thisdd4hep.sh#L58-L61

Starting with v01-13 of DD4hep everything should work again (L59-61 above).

[2022-03-13 17:09] AMontagu opened #154 "dl.bintray.com not available anymore"
Hello

I am trying to build the docker image and I have an error when it install boost:

[code]

Seem that dl.bintray.com is not available anymore.

I traced back to this file:
https://github.com/iLCSoft/iLCInstall/blob/master/ilcsoft/boost.py

But what I doesn't understand is the Version class `if( Version( self.version ) > "1.76.0" ):` where Version come from ?

And as I am downloading the 1.71.

[2022-03-13 21:16] AMontagu commented on #154
I manually copied a fixed version of boost.py and rerun the docker build.
These error appear after:

[code]
Is it possible to have a version published on dockerhub with some example on how to use it ?

[2022-03-14 08:30] EnginEren commented on #154
Hi @AMontagu,

We have currently two docker images in dockerhub

1) iLCsoft **v02-01-pre** with Boost 1.71

https://hub.docker.com/repository/docker/ilcsoft/ilcsoft-centos7-gcc8.2

2) iLCsoft with spack installation with Boost 1.75

https://hub.docker.com/repository/docker/ilcsoft/ilcsoft-spack

[2022-03-14 08:35] AMontagu commented on #154
hi @EnginEren

Thank you for the fats reply.

Is one of these image is compatible with the new LCFIPlus ?

Okay I will wait for them to answer me. I think it's because it's installing an old version of root that doesn't have the required file. But I do not understand how the version are choosen so I can't fix it myself :/.

[2022-03-14 08:44] EnginEren commented on #154
Hmm. What do you mean by "compatible"?

In both images, LCFIPlus was installed _v00-08_ and _v00-10_ respectively

[2022-03-14 08:57] AMontagu commented on #154
You answered me. I meant installed or at least with the correct dependencies to be installed.
Thank you again.

[2022-03-14 09:09] tmadlener commented on #154
Hi @AMontagu,

If you use `iLCInstall` to install ilcsoft, the versions (and build options) are defined in the following files (e.g. in this case for the latest `v02-02-03` release:)

- [releases/v02-02/release-versions.py](https://github.com/iLCSoft/iLCInstall/blob/master/releases/v02-02/release-versions.py) defines the versions of all packages and libraries
- [releases/v02-02/release-base.cfg](h

[2022-03-14 12:31] AMontagu commented on #154
Yes I have access to /cvmfs but only on the lab computer. I wanted to use it in home office. So docker was the best approach to me (just downloading using and then deleting without have everything on my personal computer).

(I am new on all iLCSoft so I may have some notion missing)

/cvmfs is handled by Subversion right ? I have a grid certificate but I can't install the /cvmfs repo on my personn

[2022-03-14 12:54] tmadlener commented on #154
To install the CVMFS client on your local machine follow [these instructions](https://cvmfs.readthedocs.io/en/stable/cpt-quickstart.html#). In order to make iLCSoft releases available you will need to add `ilc.desy.de` and `sft.cern.ch` to the `CVMFS_REPOSITORIES` configuration. This will make all iLCsoft releases available to you locally **if you are running CentOS7 on your local computer**. The

[2022-03-14 17:33] AMontagu commented on #154
Okay I will try it this evening

I want to use LCFIPlus to make a reconstruction of simulated events (e+ e- -> b b~ and e+ e- -> c c~) using flavor tagging tools of LCFIPlus for the optimization of vertex detector for futur Higgs factory projects

[2022-03-14 21:51] AMontagu commented on #154
So the docker image is working as expected but each command (Marlin, ddsim, ...) are very slow at first usage after running the container.

It's logical as it load all the shared library.

I tried to copy all the /cvmfs folder from docker to the host to mount it as a volume without succes (ilc.desy.de and sft.cern.ch folder are copied but empty)

I also tried to build an other docker image from th

[2022-03-15 07:06] tmadlener commented on #154
CVMFS is in principle caching things, so after the first run this should no longer be an issue, unless you hit a shared library you haven't loaded before. The problem with the docker approach is that the cache lives inside your container as well, and once you exit that, the cache will be gone as well. So everytime you start the container again the caching will start from scratch.

An alternative t

[2022-03-17 08:13] tmadlener opened #155 "Make it easier to specify the "main" branch for tagging script"
The tagging script is geared towards `master` being the main branch of a repository. github has changed its default to `main` quite some time ago, and the tagging script can be used to target that, but it is a bit cumbersome, e.g.

[code]

Ideally this would work the same as for repositories that have `master` as their main branch, where it is enough to do
[code]

It is not a huge problem, but may

[2022-03-17 08:48] andresailer commented on #155
Can get the default branch via the API: https://stackoverflow.com/a/16501903
So should be fairly easy to do.

[2022-03-17 10:29] AMontagu commented on #154
Hello

Sorry for the late answer. I have successfully used the docker.

Some poitn if someone is reading this issue later:
- The error Fuse is not loaded in the console in not a problem if you are mounting cvmfs with docker volume.
- There is a cache dir that you can use to avoid installing cvmfs on your pc: /var/lib/cvmfs So you can so something like: `docker run -it -v /var/lib/cvmfs-docker:/var

[2022-03-17 10:29] #154 closed